nav a{
   
    margin-left: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}
nav{
    float: right;
}
 nav a:hover{
    color:wheat;
}
#img{
    width: 40%;
    float: right;
}
.head{
    background: radial-gradient(rgb(210, 236, 247),rgb(55, 154, 194));
    height:600px;
}
#h{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 16%;
    margin-top: 10%;
    font-style: oblique;
    font-size: 45px;
}
#btn{
    background-color: deepskyblue;
    
    margin-top: 10px;
    border-radius: 20px;
}
#btn:hover{
    background-color: black;
    color: aliceblue;
}
#diva{
    font-size: larger; text-decoration: none ; color: black;
}
#diva:hover{
    color: blue;
}