header{
    background-color: rgb(39, 131, 173);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
nav{
    
    background-color:rgb(86, 66, 84);
    padding-top: 10px;
    padding-bottom: 10px;
   
}
nav a{
    color: beige;
    text-decoration: none;
    padding: 10px;
    text-align: left;
}
iframe{
    
    padding-left:10px;

    padding-right: 10px;

}
nav a:hover{
    color: rgb(165, 129, 198);
    border: solid black 2px;
    border-radius: 2px;
}